@page
@model RazorPages_Post.Pages.CalculateModel
@{
    ViewBag.Title = "Страница 3";
    ViewBag.Active = "Calculate";
    ViewBag.Header = "Ввод данных и вычисление по заданному выражению";
}

<!-- Условие задачи -->
<details>
    <summary><b>Страница 3.</b> @ViewBag.Header</summary>
    <p>
        Имя страницы <b>Calculate.cshtml</b>. В ответ на Get-запрос
        клиента /Calculate сформировать представление с формой для ввода исходных данных
        для расчета по варианту 13 (уверен, Вы не суеверны 😊) лабораторной работы 1 из
        учебника Павловской Т.А. по C#:
    </p>
    <figure class="align-center">
        <img src="/images/task03/variant13.png" alt="Задание для варианта 13" />
    </figure>
    <p>
        Метод обработки формы – POST, исходные данные и результаты расчета выводите на этой
        же странице.
    </p>
</details>

@* Ввод данных, вычисления и вывод *@
<h3 class="align-center">Ввод данных, вычисления и вывод результатов</h3>
<div class="container">
    <form class="border-single form-add-edit height-25" method="post" name="addTicket" id="addTicket">
        <h3 class="form-header">Ввод данных для вычислений</h3>

        <!-- Параметр A -->
        <div class="form-group">
            <label class="form-label" for="A">Параметр A:</label>
            <input class="form-number" type="number" name="A" id="A" step="any">
        </div>

        <!-- Параметр B -->
        <div class="form-group">
            <label class="form-label" for="B">Параметр B:</label>
            <input class="form-number" type="number" name="B" id="B" step="any">
        </div>

        <!-- кнопки отправки формы на сервер, очистки полей формы -->
        <div class="form-group">
            <input class="form-button" type="submit" value="Вычислить">
            <input class="form-button" type="reset" value="Отмена">
        </div>
    </form>

    @* поле вывода результатов расчетов *@
    <div class="border-single form-add-edit height-25">
        <h3 class="form-header">Результаты вычислений</h3>
        <table class="width-400">
            <tbody>
                @{
                    @* проверка на тип запроса *@
                    // bool isGet = double.IsNaN(Model.Calc.A) && double.IsNaN(Model.Calc.B);
                    bool isGet = Request.Method == "GET";
                    <tr><th class="align-left">Параметр A:</th><td class="tdw-200">@(isGet?"":@Model.Calc.A)</td></tr>
                    <tr><th class="align-left">Параметр B:</th><td class="tdw-200">@(isGet?"":@Model.Calc.B)</td></tr>
                    <tr><th class="align-left">Результат Z1:</th><td class="tdw-200">@(isGet?"":$"{Model.Result.Z1:f8}")</td></tr>
                    <tr><th class="align-left">Результат Z2:</th><td class="tdw-200">@(isGet?"":$"{Model.Result.Z2:f8}")</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>