@model IEnumerable<UiHintDisplay.Models.Instructor>  
@{
    ViewBag.Header = "Инструкторы";
}

<h4 class="text-center">@ViewBag.Header</h4>

@* Вывод коллекции сведений об инструкторах *@
<table class="table table-bordered table-hover w-50 mx-auto">
    <thead>
    @*a align-middle выравнивание строки по центру, по вертикали *@
    @* text-start, text-center, text-end выравнивание ячеек по горизонтали *@
    <tr class="bg-light text-black align-middle">
        <th class="text-end">Ид</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
        <th>Категория</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var instructor in Model) {
        @* align-middle выравнивание строки по центру, по вертикали *@
        @* text-start, text-center, text-end выравнивание ячеек по горизонтали *@
        <tr class="align-middle">
            <td class="text-end">@instructor.Id</td>
            <td>@instructor.Surname</td>
            <td>@instructor.Name</td>
            <td>@instructor.Patronymic</td>
            <td>@($"{instructor.BornDate:dd/MM/yyyy}")</td>
            <td>@instructor.Category</td>
        </tr>
    }
    </tbody>
</table>
