<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>@ViewBag.Title - Домашняя Работа</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon"/>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://kit.fontawesome.com/6bbf14962c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>

<header class="container-fluid">
    <div class="top-bar row align-items-center ps-4">
        <h1>@ViewBag.Title</h1>
    </div>
</header>

<nav class="navbar navbar-expand-sm navbar-main bg-body sticky-top shadow mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#appNavbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="appNavbarMain">
            <ul class="navbar-nav ms-3">
                <li class="nav-item me-2">
                    <a asp-controller="Home" asp-action="Index"
                       class="nav-link @Html.IsActive("Home", "Index")"
                       title="Перейти на страницу"> Главная </a>
                </li>
                <li class="nav-item me-2">
                    <a asp-controller="Purchases" asp-action="Index"
                       class="nav-link @Html.IsActive("Purchases", "Index")"
                       title="Перейти на страницу"> Закупки </a>
                </li>
                <li class="nav-item me-2">
                    <a asp-controller="Sales" asp-action="Index"
                       class="nav-link @Html.IsActive("Sales", "Index")"
                       title="Перейти на страницу"> Продажи </a>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle @Html.IsActive("Goods,Units,Sellers")"
                       data-bs-toggle="dropdown" role="button">
                        Справочники
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-controller="Units" asp-action="Index">Единицы измерения</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Goods" asp-action="Index">
                                Номенклатуры товаров
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Sellers" asp-action="Index">
                                Продавцы
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle @Html.IsActive("Queries")"
                       data-bs-toggle="dropdown" role="button">
                        Запросы
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query04">Запрос 4</a>
                        </li><li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query05">Запрос 5</a>
                        </li><li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query06">Запрос 6</a>
                        </li><li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query07">Запрос 7</a>
                        </li><li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query08">Запрос 8</a>
                        </li><li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query09">Запрос 9</a>
                        </li><li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query10">Запрос 10</a>
                        </li><li>
                            <a class="dropdown-item" asp-controller="Queries" asp-action="Query11">Запрос 11</a>
                        </li>
                       
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid mh-100 mh-80-vh">
    <main class="mt-4 mx-5"> @RenderBody()</main>
</div>

<footer class="container-fluid">
    <div class="row align-items-center bg-light h-60-px">
        <h6 class="text-center">&copy;2022, Масленников Виталий, г. Донецк, КА «ШАГ», ПД011.</h6>
    </div>
</footer>
</body>
</html>