@model IEnumerable<HomeWork.Models.RouteViewModel>

<table class="table align-middle">
    <thead>
    <tr>
        <th>Id</th>
        <th>Начальный пункт</th>
        <th>Промежуточный пункт</th>
        <th>Конечный пункт</th>
        <th>Протяженность (км)</th>
        <th>Сложнось</th>
        <th>Инструктор</th>
        <th>
            <a class="btn btn-success" asp-controller="Routes" asp-action="AddRoute">
                Добавить
            </a>
        </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var route in Model)
    {
        <tr>
            <td>@route.Id</td>
            <td>@route.StartPoint</td>
            <td>@route.MiddlePoint</td>
            <td>@route.EndPoint</td>
            <td>@($"{route.Length:n0}")</td>
            <td>@route.Difficulty</td>
            <td>@($"{route.Instructor!.Surname} {route.Instructor!.Name[0]}. {route.Instructor!.Patronymic[0]}.")</td>
            <td>
                <a class="btn btn-outline-primary" asp-controller="Routes" asp-action="EditRoute" asp-route-id="@route.Id"
                   title="Изменить...">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-outline-danger" asp-controller="Routes" asp-action="RemoveRoute" asp-route-id="@route.Id"
                   title="Удалить">
                    <i class="bi bi-eraser-fill"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
