@model HomeWork.Models.ViewModels.PaginationPageViewModel<HomeWork.Models.Purchase>

@{
    ViewBag.Title = "Закупки";
    
    ViewBag.MaxCountPages = 3;
}

    <h4 class="text-center">@ViewBag.Title</h4>


<table class="table table-hover align-middle">
    <thead>
    <tr>
        <th>Ид</th>
        <th>Наименование товара</th>
        <th>Ед.измерения</th>
        <th>Дата закупки</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>
           <a class="btn btn-success" asp-controller="WholesaleStore" asp-action="AddPurchase">
                <i class="bi bi-plus-lg"></i> Добавить
            </a>
        </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Good!.NameGood</td>
            <td>@item.Unit!.Short</td>
            <td>@($"{item.DatePurchase:dd.MM.yyyy}")</td>
            <td>@item.PricePurchase</td>
            <td>@item.Amount</td>
            <td>
                <a class="btn btn-outline-primary" asp-controller="WholesaleStore" asp-action="EditPurchase" asp-route-id="@item.Id">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>


@* Навигация для пагинации *@
<nav>
    <ul class="pagination justify-content-center">

        @* Переход на предыдущую страницу *@
        <li class="page-item @(Model.PageViewModel.HasPrevPage ? "" : "disabled")"
            title="Переход на предыдущую страницу">
            <a class="page-link" asp-controller="WholesaleStore" asp-action="Purchases"
                asp-route-pageNumber="@(Model.PageViewModel.PageNumber - 1)">
                <i class="bi bi-caret-left-fill"></i>
            </a>
        </li>

        @* Переход на страницу под номером *@
        @{
            int dif = Model.PageViewModel.CountPages - Model.PageViewModel.PageNumber;
            int half = ViewBag.MaxCountPages / 2;
            int halfDif = half - dif;
            int i = dif > half ? Model.PageViewModel.PageNumber - half : Model.PageViewModel.PageNumber - half - halfDif;
            for (int n = 0; n < ViewBag.MaxCountPages && i <= Model.PageViewModel.CountPages; i++)
            {
                if (i > 0)
                {
                    n++;
                    <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")"
                        title="Переход на страницу @i">
                        <a class="page-link" asp-controller="WholesaleStore" asp-action="Purchases"
                            asp-route-pageNumber="@i">
                            @i
                        </a>
                    </li>
                }
            }
        }

        @* Переход на следующую страницу *@
        <li class="page-item @(Model.PageViewModel.HasNextPage ? "" : "disabled")"
            title="Переход на следующую страницу">
            <a class="page-link" asp-controller="WholesaleStore" asp-action="Purchases"
                asp-route-pageNumber="@(Model.PageViewModel.PageNumber + 1)">
                <i class="bi bi-caret-right-fill"></i>
            </a>
        </li>
    </ul>
</nav>
