@functions
{
	private string IsActive(string page) =>
			Url.ActionContext.ActionDescriptor.DisplayName! == page ? "active" : "";
}

<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />

	<title>@ViewBag.Header - Домашняя Работа</title>
	
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css">
	<link rel="shortcut icon" href="~/favicon.png" type="image/x-icon"/>
	
	@await RenderSectionAsync("styles", false)
</head>

<body>
	
@*хедер*@
<header class="container-fluid">
	<div class="row text-light">
		<div class="d-flex flex-column justify-content-center h-100">
			<h1 class="ms-4">@ViewBag.Header</h1>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		@*навигационное меню*@
		<div class="col-2 pt-4 text-primary">
			<nav class="d-grid gap-2">
				<a asp-page="/Index"
				   class="btn btn-lg btn-outline-primary text-start @IsActive("/Index")"
				   title="Перейти на страницу">
					Главная
				</a>
				<a asp-page="/Products"
				   class="btn btn-lg btn-outline-primary text-start  @IsActive("/Products")"
				   title="Перейти на страницу">
					Бытовая техника
				</a>
				<a asp-page="/Figures"
				   class="btn btn-lg btn-outline-primary text-start @IsActive("/Figures")"
				   title="Перейти на страницу">
					Фигуры
				</a>
				
			</nav>
			@await RenderSectionAsync("controls", false)
		</div>
		
		@*контент*@
		<div class="col-10 p-5">
			<main>
				@RenderBody()
			</main>
		</div>

	</div>
</div>

@*футер*@
<footer class="container-fluid">
	<div class="row align-items-center bg-light" style="height: 4rem">
		<div class="col-12">
			<h6 class="text-center">&copy;2022, Масленников Виталий, г. Донецк, КА «ШАГ», ПД011.</h6>
		</div>
	</div>
</footer>

@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
</body>
</html>