@model IOrderedEnumerable<Homework.Models.ResultQuery6>

<h4>Для каждой поездки полная стоимость с НДС</h4>

@* Таблица с данными *@
<table class="table text-center">
    <thead class="fw-bold align-top">
    <tr>
        <td>Страна назначения</td>
        <td>Цель поездки</td>
        <td>Дата начала<br/> поездки</td>
        <td>Кол-во дней</td>
        <td>Стоимость поездки<br/>(полная)</td>
    </tr>
    </thead>
    <tbody>
    @if (Model is not null && Model.Any()){
        @foreach (var travel in Model){
            <tr>
                <td>@travel.Country</td>
                <td>@travel.Purpose</td>
                <td>@($"{travel.StartDate:dd.MM.yy}")</td>
                <td>@travel.Duration</td>
                <td>@travel.TotalCost</td>
            </tr>
        }
    }else{
        <tr><td colspan="5" class="text-primary text-center">Нет данных для отображения</td></tr>
    }
    </tbody>
</table>