@model List<HomeWork.Models.Task1.Person>


@* вывод данных *@
<table table class="table table-bordered table-striped table-hover ps-0">
<thead>
    <tr>
        @*<th class="text-end">Ид</th>*@
        <th>Имя</th>
        <th>Рост</th>
        <th>Вес</th>
        <th>Цвет волос</th>
        <th>Цвет глаз</th>
        <th>Дата рождения</th>
        <th>Пол</th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach(var item in Model)
{
    <tr>
        @*<td class="text-end">@item.Url</td>*@
        <td>@item.Name</td>
        <td>@item.Height</td>
        <td>@item.Mass</td>
        <td>@item.Hair_Color</td>
        <td>@item.Eye_Color</td>
        <td>@item.Birth_Year</td>
        <td>@item.Gender</td>
    </tr>
}
</tbody>
</table>


