@using Homework.Models
@using Homework.Models.Books
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>@ViewBag.Header - Домашняя Работа</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon"/>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6bbf14962c.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="container-fluid">
    <div class="top-bar row align-items-center ps-4">
        <h1>@ViewBag.Header</h1>
    </div>
</header>

<nav class="navbar navbar-expand-sm navbar-main bg-body sticky-top shadow mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#appNavbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="appNavbarMain">
            <ul class="navbar-nav ms-3">
                <li class="nav-item me-2">
                    <a asp-controller="Home" asp-action="Index"
                       class="nav-link @Html.IsActive("Home","Index")"
                       title="Перейти на страницу"> Главная </a>
                </li>
                
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle @Html.IsActive("Library")" role="button"
                       data-bs-toggle="dropdown">Книги</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="Index">Список книг</a></li>
                        
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="OrderBy"
                               asp-route-property="@nameof(Book.Author)">упорядоченные по автору</a></li>
                        
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="OrderBy"
                               asp-route-property="@nameof(Book.Year)">упорядоченные по году издания</a></li>
                        
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="OrderBy"
                               asp-route-property="@nameof(Book.Price)" asp-route-sort="desc">упорядоченные по убыванию цены</a></li>
                        
                        
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="Select"
                               asp-route-where="MaxAmount">с максимальным количеством</a></li>
                       
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="Select"
                               asp-route-where="MinAmount">с минимальным количеством</a></li>
                       
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="Select"
                               asp-route-where="Oldest">с наиранним годом публикации</a></li>
                       
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="Select"
                               asp-route-where="Newest">с наипоздним годом публикации</a></li>
                        
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="Select"
                               asp-route-where="MostExpensive">с наибольшей ценой</a></li>
                        
                        <li><a class="dropdown-item" asp-controller="Library" asp-action="Select"
                               asp-route-where="Cheapest">с наименьшей ценой</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle @Html.IsActive("Figures")" role="button"
                       data-bs-toggle="dropdown">Фигуры</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Figures" asp-action="Index">Список фигур</a></li>
                        
                        <li><a class="dropdown-item" asp-controller="Figures" asp-action="AddFigure">
                            Добавить фигуру
                        </a></li>
                    </ul>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid mh-100 mh-80-vh">
    <main class="mt-4 mx-5"> @RenderBody()</main>
</div>

<footer class="container-fluid">
    <div class="row align-items-center bg-light h-60-px">
        <h6 class="text-center">&copy;2022, Масленников Виталий, г. Донецк, КА «ШАГ», ПД011.</h6>
    </div>
</footer>
</body>
</html>