@model IEnumerable<HomeWork.Models.Visit>

<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th class="align-middle">Id</th>
            <th class="align-middle">Страна</th>
            <th class="align-middle">Цель поездки</th>
            <th class="align-middle">Дата поездки</th>
            <th class="align-middle">Длительность (день)</th>
            <th class="align-middle">Полная стоимость с НДС (&#8381;)</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var visit in Model)
        {
            <tr>
                <th>@visit.Id</th>
                <td>@visit.Route!.Country!.Name</td>
                <td>@visit.Route.Objective!.Name</td>
                <td>@($"{visit.DateStart:dd.MM.yyyy}")</td>
                <td>@visit.Duration</td>
                <td>@($"{visit.OverCostAndNds:n2}")</td>
            </tr>
        }
        </tbody>
    </table>
</div>
