@page "{handler?}"
@model Homework.Pages.Groups

@{
    ViewBag.Header = "Периодические издания";
}

@if(Model.GroupedMinMaxPrice is not null){
    <table class="table text-center">
        <thead class="fw-bold">
        <tr>
            <td>Тип издания</td>
            <td>Минимальная цена</td>
            <td>Максимальная цена</td>
            <td>Количество</td>
        </tr>
        </thead>
        <tbody>
        @foreach(var group in Model.GroupedMinMaxPrice!)
        {
            <tr>
                <td>@group.Type</td>
                <td>@group.MinPrice</td>
                <td>@group.MaxPrice</td>
                <td>@group.Amount</td>
            </tr>
        }
        </tbody>
    </table>
}

@if(Model.GroupedAvgPrice is not null){
    <table class="table text-center">
        <thead class="fw-bold">
        <tr>
            <td>Тип издания</td>
            <td>Средняя цена</td>
            <td>Количество</td>
        </tr>
        </thead>
        <tbody>
        @foreach(var group in Model.GroupedAvgPrice!)
        {
            <tr>
                <td>@group.Type</td>
                <td>@group.AvgPrice.ToString(".#")</td>
                <td>@group.Amount</td>
            </tr>
        }
        </tbody>
    </table>
}
