@page
@model BindingPropsToParams.Pages.IndexModel
@{
}

<h3>Привязка свойств страниц и моделей Razor к параметрам запроса</h3>

@* определение метода отправки данных *@
<h2>
@if (Request.Method == "GET")
{
    @Model.Message
} else
{
    @: Обработка запроса с методом <u>@Request.Method</u>
}
</h2>

<form method="post">
    <p>
        <label>Имя:</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Возраст:</label><br />
        <input type="number" name="age" />
    </p>
    <input type="submit" value="Отправить" />
</form>

@* определение метода отправки данных *@
@if (Request.Method == "POST")
{
    <h3>Полученные данные</h3>
    <p>Name: @Model.Name</p>
    <p>Age: @Model.Age</p>
    <p>@Model.Message</p>
}