@using Home_work.ViewModels
@model PlanetsViewModel

@* Вывод коллекции сведений об постах пользователей *@
<table class="table table-hover table-bordered w-80 mx-auto mb-5">
    <thead>
    <tr class="align-middle">
        <th class="alignment-center">Id пользователя</th>
        <th class="alignment-center">Id поста</th>
        <th class="alignment-center">Заговок поста</th>
        <th class="alignment-center">Текст</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (Planet post in Model.Posts)
    {
        <tr class="align-middle" >
            <td class="alignment-center">@post.UserId</td>
            <td class="alignment-center">@post.Id</td>
            <td class="alignment-center">@post.Title</td>
            <td class="alignment-center">@post.Body</td>
        </tr>
    }
    </tbody>
</table>

<h3>Итоговые значения</h3>

<table class="table table-hover table-bordered w-80 mx-auto mb-5" id="ClientsTable">
    <thead>
        <tr class="align-middle">
            <th class="alignment-center bg-dark bg-opacity-25" colspan="2">Значения</th>
        </tr>
    </thead>
    
    <tbody>
        <tr class="align-middle" >
            <td>Количество постов</td>
            <td class="alignment-center">@Model.PostsQuantity</td>
        </tr>
        <tr class="align-middle" >
            <td>Мин. длина текста</td>
            <td class="alignment-center">@Model.MinTxtLenght</td>
        </tr>
        <tr class="align-middle" >
            <td>Средняя длина текста</td>
            <td class="alignment-center">@Model.AvgTxtLenght</td>
        </tr>
        <tr class="align-middle" >
            <td>Макс. длина текста</td>
            <td class="alignment-center">@Model.MaxTxtLenght</td>
        </tr>
    </tbody>
</table>