<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>@ViewBag.Title - Домашняя Работа</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon"/>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6bbf14962c.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="container-fluid">
    <div class="top-bar row align-items-center ps-4">
        <h1>@ViewBag.Title</h1>
    </div>
</header>

<nav class="navbar navbar-expand-sm navbar-main bg-body sticky-top shadow mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#appNavbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="appNavbarMain">
            <ul class="navbar-nav ms-3">
                <li class="nav-item me-2">
                    <a asp-area="" asp-controller="Home" asp-action="Index"
                       class="nav-link @Html.IsActive("Home", "Index")"
                       title="Перейти на страницу">
                        Главная
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a asp-controller="Task1" asp-action="Index"
                       class="nav-link @Html.IsActive("Task1", "Index")"
                       title="Перейти на страницу">
                        Задача 1
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a asp-area="Task2" asp-controller="Home" asp-action="Index"
                       class="nav-link @Html.IsActive("Task2", "Index")"
                       title="Перейти на страницу">
                        Задача 2
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid mh-100 mh-80-vh">
    <main class="mt-4 mx-5"> @RenderBody()</main>
</div>

<footer class="container-fluid mt-5">
    <div class="row align-items-center bg-light h-60-px">
        <h6 class="text-center">&copy;2022, Масленников Виталий, г. Донецк, КА «ШАГ», ПД011.</h6>
    </div>
</footer>
</body>
</html>