@using HomeWork.Models
@model HomeWork.Models.ViewModels.PaginationPageViewModel<HomeWork.Models.Sale>

@{
    ViewBag.Title = "Продажи";

    ViewBag.MaxCountPages = 5;
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <h4 class="text-center">@ViewBag.Title</h4>


    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th>
                <a asp-controller="SalesAccounting"
                   asp-action="OrderBySales"
                   asp-route-sortState="@(ViewBag.IdSort ??= SortStateSales.IdDesc)"
                   asp-route-sortField="Id"
                   asp-route-pageNumber="1">
                    Id
                    @if (ViewBag.SortField == "Id")
                    {
                        <i class="bi bi-caret-@(ViewBag.IdSort == SortStateSales.IdDesc ? "up" : "down")-fill"></i>
                    }
                </a>
            </th>
            <th>Продавец</th>
            <th>Закупленный товар</th>
            <th>Единица измерения</th>
            <th>
                <a asp-controller="SalesAccounting"
                   asp-action="OrderBySales"
                   asp-route-sortState="@(ViewBag.PriceSaleSort ??= SortStateSales.PriceSaleDesc)"
                   asp-route-sortField="PriceSale"
                   asp-route-pageNumber="1">
                    Цена единицы (&#8381;)
                    @if (ViewBag.SortField == "PriceSale")
                    {
                        <i class="bi bi-caret-@(ViewBag.PriceSaleSort == SortStateSales.PriceSaleDesc ? "up" : "down")-fill"></i>
                    }
                </a>
            </th>
            <th>Количество</th>
            <th>
                <a asp-controller="SalesAccounting"
                   asp-action="OrderBySales"
                   asp-route-sortState="@(ViewBag.DateSellSort ??= SortStateSales.DateSellDesc)"
                   asp-route-sortField="DateSell"
                   asp-route-pageNumber="1">
                    Дата продажи
                    @if (ViewBag.SortField == "DateSell")
                    {
                        <i class="bi bi-caret-@(ViewBag.DateSellSort == SortStateSales.DateSellDesc ? "up" : "down")-fill"></i>
                    }
                </a>
            </th>
            <th>
                <a class="btn btn-success" asp-controller="Sales" asp-action="AddSale">
                    <i class="bi bi-plus-lg"></i> Добавить
                </a>
            </th>
        </tr>
        </thead>
        <sales-table-body items="Model.Items"></sales-table-body>
    </table>


    @* Навигация для пагинации *@
    <nav>
        <ul class="pagination justify-content-center">

            @* Переход на первую страницу *@
            <li class="page-item @(Model.PageViewModel.PageNumber != 1 ? "" : "disabled")"
                title="Переход на первую страницу">
                <a class="page-link" asp-controller="SalesAccounting" asp-action="OrderBySales"
                   asp-route-pageNumber="@(1)"
                   asp-route-sortState="@ViewBag.SortState"
                   asp-route-sortField="@ViewBag.SortField">
                    <i class="bi bi-skip-start-fill"></i>
                </a>
            </li>

            @* Переход на предыдущую страницу *@
            <li class="page-item @(Model.PageViewModel.HasPrevPage ? "" : "disabled")"
                title="Переход на предыдущую страницу">
                <a class="page-link" asp-controller="SalesAccounting" asp-action="OrderBySales"
                   asp-route-pageNumber="@(Model.PageViewModel.PageNumber - 1)"
                   asp-route-sortState="@ViewBag.SortState"
                   asp-route-sortField="@ViewBag.SortField">
                    <i class="bi bi-caret-left-fill"></i>
                </a>
            </li>

            @* Переход на страницу под номером *@
            @{
                int dif = Model.PageViewModel.CountPages - Model.PageViewModel.PageNumber;
                int half = ViewBag.MaxCountPages / 2;
                int halfDif = half - dif;
                int i = dif > half ? Model.PageViewModel.PageNumber - half : Model.PageViewModel.PageNumber - half - halfDif;
                for (int n = 0; n < ViewBag.MaxCountPages && i <= Model.PageViewModel.CountPages; i++)
                {
                    if (i > 0)
                    {
                        n++;
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")"
                            title="Переход на страницу @i">
                            <a class="page-link" asp-controller="SalesAccounting" asp-action="OrderBySales"
                               asp-route-pageNumber="@i"
                               asp-route-sortState="@ViewBag.SortState"
                               asp-route-sortField="@ViewBag.SortField">
                                @i
                            </a>
                        </li>
                    }
                }
            }

            @* Переход на следующую страницу *@
            <li class="page-item @(Model.PageViewModel.HasNextPage ? "" : "disabled")"
                title="Переход на следующую страницу">
                <a class="page-link" asp-controller="SalesAccounting" asp-action="OrderBySales"
                   asp-route-pageNumber="@(Model.PageViewModel.PageNumber + 1)"
                   asp-route-sortState="@ViewBag.SortState"
                   asp-route-sortField="@ViewBag.SortField">
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </li>

            @* Переход на последнюю страницу *@
            <li class="page-item @(Model.PageViewModel.PageNumber != Model.PageViewModel.CountPages ? "" : "disabled")"
                title="Переход на последнюю страницу">
                <a class="page-link" asp-controller="SalesAccounting" asp-action="OrderBySales"
                   asp-route-pageNumber="@(Model.PageViewModel.CountPages)"
                   asp-route-sortState="@ViewBag.SortState"
                   asp-route-sortField="@ViewBag.SortField">
                    <i class="bi bi-skip-end-fill"></i>
                </a>
            </li>
        </ul>
    </nav>

</section>
