@functions
{
    private string IsActive(string page) =>
        Url.ActionContext.ActionDescriptor.DisplayName! == $"/{page}" ? "active" : "";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>@ViewBag.Header - Домашняя Работа</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon"/>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6bbf14962c.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="container-fluid">
    <div class="top-bar row align-items-center ps-4">
        <h1>@ViewBag.Header</h1>
    </div>
</header>

<nav class="navbar navbar-expand-sm navbar-main bg-body sticky-top shadow mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#appNavbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="appNavbarMain">
            <ul class="navbar-nav ms-3">
                <li class="nav-item me-2">
                    <a asp-page="@nameof(Index)"
                       class="nav-link @IsActive(nameof(Index))"
                       title="Перейти на страницу">
                        Главная
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a asp-page="@nameof(Clients)"
                       class="nav-link @IsActive(nameof(Clients))"
                       title="Перейти на страницу">
                        Клиенты
                    </a>
                </li>

                <li class="nav-item me-2">
                    <a asp-page="@nameof(Countries)"
                       class="nav-link @IsActive(nameof(Countries))"
                       title="Перейти на страницу">
                        Страны
                    </a>
                </li>

                <li class="nav-item me-2">
                    <a asp-page="@nameof(Routes)"
                       class="nav-link @IsActive(nameof(Routes))"
                       title="Перейти на страницу">
                        Маршруты
                    </a>
                </li>

                <li class="nav-item me-2">
                    <a asp-page="@nameof(Travels)"
                       class="nav-link @IsActive(nameof(Travels))"
                       title="Перейти на страницу">
                        Поездки
                    </a>
                </li>

                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown">Отчеты</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-page="/Query1">1 - Запрос на выборку</a></li>
                        <li><a class="dropdown-item" asp-page="/Query2">2 - Запрос на выборку</a></li>
                        <li><a class="dropdown-item" asp-page="/Query3">3 - Запрос на выборку</a></li>
                        <li><a class="dropdown-item" asp-page="/Query4">4 - Запрос на выборку</a></li>
                        <li><a class="dropdown-item" asp-page="/Query5">5 - Запрос на выборку</a></li>
                        <li><a class="dropdown-item" asp-page="/Query6">6 - Запрос на выборку</a></li>
                        <li><a class="dropdown-item" asp-page="/Query7">7 - Итоговый запрос</a></li>
                        <li><a class="dropdown-item" asp-page="/Query8">8 - Итоговый запрос</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@await RenderSectionAsync("Controls", false)

<div class="container-fluid mh-100 mh-80-vh">
    <main class="mt-4 mx-5"> @RenderBody()</main>
</div>

<footer class="container-fluid">
    <div class="row align-items-center bg-light h-60-px">
        <h6 class="text-center">&copy;2022, Масленников Виталий, г. Донецк, КА «ШАГ», ПД011.</h6>
    </div>
</footer>
</body>
</html>