@page
@model Homework.Pages.Query3

@{
    ViewBag.Header = "Запрос на выборку";
}

@* фильтр по клиентам с поездками в выбранную страну на указанное количество дней *@
<div class="list-group-horizontal my-4">
    <form class="d-inline-block ms-3 me-3" method="post">
        
        <label class="form-label me-1 lead" for="selCountry">Страна: </label>
        <select class="form-select-sm me-3 " asp-for="CountryId" asp-items="Model.CountriesList" id="selCountry"></select>

        <label class="form-label me-1 lead" for="inpDays"> Количество дней: </label>
        <input class="form-control-sm w-80-px" type="text" asp-for="Days" id=inpDays/>

        <button class="btn btn-sm btn-outline-secondary ms-1 align-baseline" type="submit">Показать</button>
    </form>
    
    <a class="btn btn-sm btn-outline-secondary ms-2 align-baseline" asp-page="@nameof(Query3)">Исходные данные</a>
</div>

@* Таблица с данными *@
<table class="table text-start">
    <thead class="fw-bold align-top">
    <tr>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Паспорт</td>
    </tr>
    </thead>
    <tbody>
    @if (Model.DisplayClients is not null && Model.DisplayClients.AsEnumerable().Any()){
        @foreach (var client in Model.DisplayClients){
            <tr>
                <td>@client.Surname</td>
                <td>@client.Name</td>
                <td>@client.Patronymic</td>
                <td>@client.Passport</td>
            </tr>
        }
    }else{
        <tr><td colspan="4" class="text-primary text-center">Нет данных для отображения</td></tr>
    }
    </tbody>
</table>