@page "{handler?}"
@using HomeWork.Models
@model HomeWork.Pages.FiguresModel
@{
    ViewBag.Title = "Задача 2. Фигуры";
    ViewBag.PageName = "Figures";
}

@functions {
    // вывод фигуры
    void ShowFigure(IFigure figure)
    {
        <tr>
            <td class="text-center">
                <img src="/images/figures/@figure.Image" height="80" alt="Фигура">
            </td>
            <td>
                @figure.Name
            </td>
            <td>
                @foreach (var item in figure.ParamAndValue)
                {
                    @item.Key <b>@($"{item.Value:f5}")</b><br>
                }
            </td>
            <td>
                @($"{figure.Perimeter:f5}")
            </td>
            <td>
                @($"{figure.Area:f5}")
            </td>
        </tr>
    }

    // вывод коллекции фтигур
    void ShowFigureList(List<IFigure> figures)
    {
        <div class="table-responsive shadow-sm">

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Изображение</th>
                        <th>Наименование</th>
                        <th>Стороны</th>
                        <th>Периметр</th>
                        <th>Площадь</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        figures.ForEach(a => ShowFigure(a));
                    }
                </tbody>
            </table>
        </div>
    }

    // нужно ли отображать поле для ввода
    // получает номер стороны
    bool IsVisible(int sideNum)
    {
        switch (Model.FigureType)
        {
            case "Квадрат":
                return sideNum <= 1;

            case "Прямоугольник":
                return sideNum <= 2;

            case "Треугольник":
                return sideNum <= 3;

            default:
                return true;
        }
    }
}


<!-- #region Задание 2 -->
<section class="mx-sm-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <details>
        <summary class="h5 text-primary">
            Задание 2. Фигуры
        </summary>

        <p>
            <b>Страница 2</b>. Требуется хранить в файле формата JSON в папке App_Data проекта коллекцию плоских
            геометрических фигур: квадраты, прямоугольники, разносторонние треугольники. Инициализация коллекции
            должна проводиться при отсутствии файла (формируйте не менее 10 фигур).
        </p>

        <p>
            В форме на странице выбирайте тип фигуры, и по кнопке «Создать» формируйте еще одну форму (на этой же
            странице) для ввода параметров фигуры. При рендеринге формы для параметров форму для выбора типа фигуры
            рендерить не надо. Все формы должны быть стилизованы классами Bootstrap.
        </p>

        <p>
            Отображайте коллекцию на этой же странице в таблице, стилизованной классами Bootstrap (в ячейке таблицы
            также выводите изображение фигуры).
        </p>

        <p>
            По ссылкам на этой странице (кнопкам в стиле Bootstrap) вызывайте обработчики запросов GET:
        </p>

        <ul>
            <li>вывод всей коллекции в исходном порядке </li>
            <li>вывод только квадратов, по убыванию площади</li>
            <li>вывод только прямоугольников, по возрастанию периметра</li>
            <li>вывод только треугольников, в обратном порядке по отношению к порядку в коллекции</li>
            <li>вывод всей коллекции по убыванию площади</li>
            <li>вывод всей коллекции, упорядоченной по типу фигур</li>
        </ul>
    </details>
</section>
<!-- #endregion -->

@if (Model.FigureType != null)
{
    <!-- #region Форма для добавления фигуры -->
    <section class="mx-sm-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

        <details open>
            <summary class="h5 text-primary">
                Форма для добавления фигуры
            </summary>
            <form method="post" asp-antiforgery="true" class="mx-auto w-50">

                <!-- Вывод ошибки -->
                @if (Model.ErrorMessage != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Ошибка добавления!</strong> @Model.ErrorMessage
                    </div>
                }

                <h4 class="text-center">Добавление фигуры: @Model.FigureType</h4>

                <hr>

                <!-- Тип фигуры -->
            <input type="hidden" asp-for="FigureType" value="@Model.FigureType">

                <!-- Сторона A -->
            <div class="form-floating my-3">
                    <input type="number" asp-for="SideA" class="form-control" min="0" step="any" required>
                    <label asp-for="SideA">Сторона A:</label>
                </div>

                <!-- Сторона B -->
                @if (IsVisible(2))
                {
                    <div class="form-floating my-3">
                        <input type="number" asp-for="SideB" class="form-control" min="0" step="any" required>
                        <label asp-for="SideB" class="field-label">Сторона B:</label>
                    </div>
                }

                <!-- Сторона C -->
                @if (IsVisible(3))
                {
                    <div class="form-floating my-3">
                        <input type="number" asp-for="SideC" class="form-control" min="0" step="any" required>
                        <label asp-for="SideC" class="field-label">Сторона C:</label>
                    </div>
                }

                <!-- Кнопки управления -->
            <div class="d-flex justify-content-end">
                    <input class="btn btn-success me-2 w-25" asp-page-handler="AddFigure" type="submit" value="Добавить" />
                    <input class="btn btn-danger w-25" asp-page-handler="CancelAddFigure" type="submit" value="Отмена" />
                </div>

            </form>
        </details>
    </section>
    <!-- #endregion -->


}


<!-- #region Общий контейнер контента -->
<div class="container-fluid mb-4">
    <div class="row">

        <!-- #region Управление коллекцией-->
        <section class="col-sm-3 ms-5 me-5 bg-light shadow-sm border rounded-3 p-3">

            <!-- #region Сортировка фигур -->
            <h4 class="text-center">Параметры обработки</h4>

            <hr>


            <!-- Форма для выбора типа фигуры -->
            @if (Model.FigureType == null)
            {
                <p class="text-center">Добавление фигуры</p>

                <form method="post" asp-antiforgery="true">

                    <!-- Выбор типа фигуры -->
                <div class="form-floating my-3">
                        <select class="form-select" asp-for="FigureType" required>
                            <option value="Квадрат" selected>Квадрат</option>
                            <option value="Прямоугольник">Прямоугольник</option>
                            <option value="Треугольник">Треугольник</option>
                        </select>
                        <label asp-for="FigureType">Тип фигуры</label>
                    </div>

                    <!-- Отправка запроса -->
                <input type="submit" asp-page-handler="OpenFigureForm" class="btn btn-success d-block my-3 w-100"
                    value="Создать...">

                </form>

                <hr>
            }

            <p class="text-center">Сортировка фигур</p>

            <!-- По умоланию -->
            <a asp-page="/Figures" class="btn btn-success d-block my-3 w-100">По умоланию</a>

            <!-- По убыванию площади -->
            <a asp-page-handler="OrderByDescArea" class="btn btn-primary d-block my-3 w-100">По убыванию площади</a>

            <!-- По типу -->
            <a asp-page-handler="OrderByName" class="btn btn-primary d-block my-3 w-100">По типу</a>

            <hr />

            <!-- #endregion -->

            <!-- #region Выборка фигур -->

            <p class="text-center">Выборка фигур</p>

            <!-- Только квадраты -->
            <a asp-page-handler="SelectBySquare" class="btn btn-primary d-block my-3 w-100"
                title="Вывод только квадратов, по убыванию площади">Только квадраты</a>

            <!-- Только прямоугольники -->
            <a asp-page-handler="SelectByRect" class="btn btn-primary d-block my-3 w-100"
                title="Вывод только прямоугольников, по возрастанию периметра">Только прямоугольники</a>

            <!-- Только треугольники -->
            <a asp-page-handler="SelectByTriangle" class="btn btn-primary d-block my-3 w-100"
                title="Вывод только треугольников, в обратном порядке по отношению к порядку в коллекции">Только
                треугольники</a>

            <!-- #endregion -->

            <hr />

        </section>
        <!-- #endregion -->

        <!-- #region Список фигур -->
        <section class="col me-5 bg-light shadow-sm border rounded-3 p-3">
            <h4 class="text-center">@Model.NameHandler</h4>

            <hr>

            <div class="container-sm mt-3">
                <!-- Вывод фигур -->
                @{
                    ShowFigureList(Model.CurrentFigures);
                }
            </div>
        </section>
        <!-- #endregion -->
    </div>
</div>
<!-- #endregion -->