@page
@model H_W1ASP.NET.Pages.SailingFleetModel
@{
    ViewData["Title"] = "Homework";
}



<header>
<h2>Страница №2</h2>
</header>
<main>
     <nav>
     <!-- ссылки на страницы -->
        <ul class="aside-menu">
         <li><a href="/Index">На главную</a></li>
         <li><a href="/Book">Страница №1</a></li>
         <li><a href="/SailingFleet">Страница №2</a></li>
         <li><a href="/Cities">Страница №3</a></li>
      </ul>
     </nav>

     <section>
            <details class="indented">
                <summary> Сведения о парусных кораблях</summary>
                    <b>Страница 2.</b> Имя страницы <b>SailingFleet.cshtml.</b> В ответ на GET-запрос клиента 
                    <b>/SailingFleet</b> сформировать представление со сведениями о трех парусных кораблях (длина в метрах,
                    ширина в метрах, водоизмещение в тоннах, название, год постройки, изображение): линейный корабль «Виктория»,
                    чайный клиппер «Катти Сарк» и барк «Крузенштерн». Используйте модель, коллекцию.
            </details>

         <div class="for-blocks">
              @foreach (var ship in @Model.Ships)
              {
                  <div class="object-block"> <p><img src="~/img/victory.jpg" width="180" height="180" alt="фото 002" /><br>
                        Название: @ship.Name<br>
                        Длина: @($"{ship.Lengh:n2}") м<br>
                        Ширина: @($"{ship.Width:n2}") м<br>
                        Водоизмещение: @ship.Displacement т<br>
                        Год: @ship.Year</p>
                  </div>
              }
         </div>
     </section>

</main>
