@page
@model TouristicAgency.Pages.Report01Model
@{
    ViewBag.Title = "Отчет 1";
}

<h3>@ViewBag.Title</h3>
<h3>@Model.Task</h3>

@* вывод в соответствии с запросом на выборку данных *@
<table class="table table-hover">
    <theader>
        <tr>
            <th>Цель поездки</th>
            <th>Минимальна стоимость, руб.</th>
            <th>Средняя стоимость, руб.</th>
            <th>Максимальная стоимость, руб.</th>
            <th>Количество записей</th>
        </tr>
    </theader>
    <tbody>
    @foreach (var row in Model.Rows) {
        <tr>
            <td>@row.Purpose</td>
            <td>@($"{row.MinCost:n2}")</td>
            <td>@($"{row.AvgCost:n2}")</td>
            <td>@($"{row.MaxCost:n2}")</td>
            <td>@row.Amount</td>
        </tr>
    }
    </tbody>
</table>
